a{
    text-decoration: none;
}
ul{
    list-style: none;
}
  address {
    font-style: normal;
  }
.nav-list-link{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    color:#000000;
}
.logo{
    font-family: Roboto;
    margin-right: 93px;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0.03em;
color: #2196F3;
}
.header-logo{
    color:#000000;
}
.contacts-list-link{
    font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;
color: #757575;
}
.contacts-list-link:hover, .nav-list-link:hover{
    color:  #2196F3;
}
header{
    margin-top: 24px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacts-list, .nav-list{
    display: flex;
    gap: 50px;
    margin-right: 344px;
}
.section-hero{
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
}
.section-hero-title{
    font-family: Roboto;
font-size: 44px;
font-weight: 900;
line-height: 60px;
letter-spacing: 0.06em;
text-align: center;
color: #FFFFFF;
width: 696px;
margin: 0 auto;
}
.section-hero-btn{
    width: 216px;
    height: 50px;
    border-radius: 4px;
    background-color: #2196F3;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}
.section-features{
    padding-top: 94px;
    padding-bottom: 94px;
}
.features-list{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
}
.features-list-title{
    font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0.03em;
}
.features-list-text{
    font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}
.features-list-title{
    margin-bottom: 10px;
}
.work-title{
    margin-bottom: 50px;
    font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}
.work-list{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.team-list{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.section-work{
    padding-bottom: 94px;
}
.team-title{
    text-align: center;
    margin-bottom: 50px;
}
.team-title{
    margin-bottom: 50px;
    padding-top: 94px;
    font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;
}
.team-list-title{
    font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}
.team-list-text{
    font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;
color: #757575;
}
.section-team{
    background-color: #F5F4FA;
}
.team-list-item{
    background-color: white;
    margin-bottom: 94px;
}
.box{
 max-width: 1200px;
 margin: 0 auto;
}
ul{
    margin: 0;
    padding: 0;
}
footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}
.footer-logo{
    font-family: Roboto;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
    
    font-family: Roboto;
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF;
    
}
.address{
    margin-top: 20px;
}
.address-list-link{
    font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
color: #FFFFFF;
}
body{
    margin: 0;
}
.portfolio-section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.filters-list{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.filters-list-btn{
    border-radius: 4px;
    padding: 6px 22px;
    border: none;
    font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}
.filters-list-btn:hover{
    cursor: pointer;
    background-color: #2196F3;
    color: #FFFFFF;
}
.portfolio-list-title{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: left;

}    
.portfolio-list-text{
    
    font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
color: #757575;
}
.portfolio-list{
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.portfolio-list-item{
    width: 370px;
    height: 435px;
    top: 1130px;
    left: 615px;
    border: 1px;    
    border: 1px solid #EEEEEE;
}
.portfolio-list-title,.portfolio-list-text{
    margin-left: 24px;
}
    .input-name,.input-tel,.input-email{
        width: 100%;
        height: 40px;
        border: none;
        
    }
    label{
        display: block;
        margin-bottom: 10px;
    }
    
    textarea{
        resize: none;
        border: none;
        width: 100%;
        height: 120px;
    }
    .backdrop{
        position:fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .modal{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 528px;
        background-color: #2F303A;
        padding: 40px;
    }
    .backdrop.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
    button{
        margin-left: 155px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 150px;
        height: 30px;
        border: none;
        cursor: pointer;
        background: rgb(12, 201, 138) ;
        color: white;
        font-size: 22px;
        transition: 2s;
    }
    button:hover{
        border-radius: 12px;
        color:  aqua;
    }
    .button{
        color: white;
        text-decoration: none ;
        font-weight: lighter;
        transition: 100000s;
        
    }
    h2{
        font-family: Roboto;
        margin-left: 170px;
        margin-bottom: 10px;
        color:   rgb(255, 255, 255);
        font-size: 28px;
    }
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }